<!doctype html>
<html><head>
<title>Circles</title>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $('.reply-form').hide()
    $('.reply-trigger').click(function(event){
        var link = $(event.target)
        var reply = link.parents('.attribution:first').next()
        reply.show()
    })
    $('.cancel-reply').click(function(event){
        var link = $(event.target)
        var reply = link.parents('.reply-form:first')
        reply.hide()
    })
})
</script>
</head>
<body>

<a href="{{url_for('front')}}">Home</a>
{% if g.user %}
| <a href="{{url_for('logout')}}">Logout</a>
{% else %}
| <a href="{{url_for('login')}}">Login</a>
{% endif %}
{% for message in get_flashed_messages() %}
<p class="notice">{{message}}</p>
{% endfor %}

{% block content %}


{% endblock %}
</body>
