{% extends 'base.html'%}
{% from 'macros.html' import link %}
{% from 'discussion.html' import render_discussion, render_attribution %}

{% block content %}
<h1>{{circle.name}}</h1>
<p>{{circle.description}}</p>

{% if has_membership %}
<p><a href="{{url_for('invite',id=circle.id)}}">Invite people you trust</a></p>
<p><a href="{{url_for('member_settings', circle_id=circle.id)}}">Edit your membership</a></p>
{% else %}
<p><a href="{{url_for('join_circle',id=circle.id)}}">Join this circle</a></p>
{% endif %}

<h2>Members:</h2>
<ul>{% for member in circle.members %}
<li>{{link(member)}}
{% endfor %}</ul>

<h2>Discussion</h2>

{% if has_membership %}
<form action="{{url_for('new_posting', circle_id=circle.id)}}" method="POST" enctype="multipart/form-data">
{{discussion_form.text}}
<div>{{discussion_form.file.label}}: {{discussion_form.file}}</div>
<button>Say it</button>
</form>
{% endif %}


<ul >{% for posting in postings %}
{% set action = posting.reply_url %}
<li class='posting'>{% if posting.association.type == 'photos' %}
<a href="{{posting.photo_url}}"><img src="{{posting.media.thumbnail(200,200)}}"></a>
{{ render_attribution(posting, action, has_membership) }}
{% endif %}
{{ render_discussion(posting.discussion, action, has_membership)}}
{% endfor %}</ul>

{% endblock %}
