{% extends 'base.html'%}

{% macro member_link(member) %}
<a href="{{member.url}}">{{member.nickname}}</a>
{% endmacro %}

{% block content %}
<h1>{{circle.name}}</h1>
<p>{{circle.description}}</p>

{% if has_membership %}
<p><a href="{{url_for('invite',id=circle.id)}}">Invite people you trust</a></p>
{% else %}
<p><a href="{{url_for('join_circle',id=circle.id)}}">Join this circle</a></p>
{% endif %}

<h2>Members:</h2>
<ul>{% for member in circle.members %}
<li>{{member_link(member)}}
{% endfor %}</ul>

<h2>Discussion</h2>

{% if has_membership %}
<form action="{{url_for('new_posting', circle_id=circle.id)}}" method="POST">
{{discussion_form.text}}
<button>Say it</button>
</form>
{% endif %}


<ul >{% for posting in postings %}
<li class="discussion"><ul> {% for comment in posting.discussion.root_comments recursive %}
<li class="comment"><div class="comment-text">{{ comment.text }}</div>
    <div class="comment-meta">{{member_link(comment.member)}}
        {% if has_membership %}
            - <a class="reply-trigger">reply</a>
        {% endif %}
    </div>
    {% if has_membership %}
        <div class="reply-form">
            <form action="{{url_for('reply_to_posting', posting_id=posting.id)}}" method="POST">
            {% set form = comment.reply_form %}
            {{form.parent_id}}
            {{form.text}}
            <button>Say it</button>
            <a class="comment-meta cancel-reply">Cancel</a>
            </form>
        </div>
    {% endif %}
{% if comment.children %}
<ul class="thread">{{ loop(comment.children) }}</ul>
{% endif %}
{% endfor %}</ul>
{% endfor %}</ul>

{% endblock %}
