{% from 'macros.html' import link %}
{% macro render_discussion(discussion, action, editable) %}
    {% if discussion.root_comments %}
        <ul class="discussion"> {% for comment in discussion.root_comments recursive %}
            <li class="comment">
                <div class="comment-text">{{ comment.text }}</div>
                {{ render_attribution(comment, action, editable) }}
            {% if comment.children %}
            <ul class="thread">{{ loop(comment.children) }}</ul>
            {% endif %}
        {% endfor %}</ul>
    {% endif %}
{% endmacro %}

{% macro render_attribution(item, action, editable) %}
    <div class="attribution">{{link(item.member)}}
        {% if editable %}
            - <a class="reply-trigger">reply</a>
        {% endif %}
    </div>
    {% if editable %}
        <div class="reply-form">
            <form action="{{action}}" method="POST">
            {% set form = item.reply_form %}
            {{form.parent_id}}
            {{form.text}}
            <button>Say it</button>
            <a class="comment-meta cancel-reply">Cancel</a>
            </form>
        </div>
    {% endif %}
{% endmacro %}
