{% extends 'base.html'%}

{% macro comment_form(form) %}
{% if has_membership %}
<form action="{{url_for('new_comment', id=circle.id)}}" method="POST">
<div>{{form.text}}</div>
{{form.discussion_id}} {{form.parent_id}}
<button>Post</button>
</form>
{% endif %}
{% endmacro %}

{% block content %}
<h1>{{circle.name}}</h1>

{% if has_membership %}
<p><a href="{{url_for('invite',id=circle.id)}}">Invite people you trust</a></p>
{% else %}
<p><a href="{{url_for('join_circle',id=circle.id)}}">Join this circle</a></p>
{% endif %}

{% if has_membership %}
<h2>Post Something</h2>
{{ comment_form(discussion_form) }}
</form>
{% endif %}

<ul >{% for discussion in discussions %}
<li class="discussion"><ul> {% for comment in discussion.root_comments recursive %}
<li>{{comment.nickname}} says: {{ comment.text }}
{{ comment_form(comment.reply_form) }}
{% if comment.children %}
<ul class="thread">{{ loop(comment.children) }}</ul>
{% endif %}
{% endfor %}</ul>
{% endfor %}</ul>

{% endblock %}
