{% extends 'base.html' %}

{% block content %}
<h1>Invitations to <a href="{{circle.url}}">{{circle.name}}</a></h1>
<p>We believe that personally inviting each of your closest friends is better than mass-mailing them.  Take the time to explain why they should join your group, and then <b>give them one of these links</b>.  Please only give these to people you trust, who aren't going to pass them on to strangers.  Each link can only be used once, but we'll give you more as people accept them.</p>

<table>
<tr><th>Link <th>Status
{% for invitation in invitations %}
<tr><td class="invitation-link"> 
    {% if not invitation.acceptor_id %}
    <textarea readonly class="link" >{{invitation.url}}</textarea>
    {% endif %}
    <td>
    {% if invitation.clicked %}
        Clicked
    {% elif invitation.acceptor_id %}
        Accepted by {{invitation.acceptor_name}}
    {% else %}    
        Fresh
    {% endif %}
{% endfor %}
</table>

{% endblock %}
